<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<!-- CSS Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
	rel="stylesheet" 
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
</head>
<header>
    <%- include("./partials/header") %>
</header>
<body>
	  <div class="container">
		<div>
			<img src="toga.jpg" class="img-fluid" style="width:100%;height:400px;" >
		</div>
		<div class="card border-light mb-3" >
			<div class="row g-0">
			  <div class="col-md-4">
				<img src="peta.png" class="img-fluid rounded-start" alt="...">
			  </div>
			  <div class="col-md-8">
				<div class="card-body" style="margin: 15px">
				  <h2 class="card-title">Kabupaten Kediri . .</h5>
				  <h5 class="card-text">Secara geografis, Kabupaten Kediri terletak antara 111º 47’ 05” sampai dengan 112º 18’ 20” Bujur Timur dan 7º 36’ 12” sampai dengan 8º 0’ 32” Lintang Selatan. Kabupaten Kediri terdiri dari 26 kecamatan Informasi tempat budidaya tanaman obat keluarga (TOGA) dan tanaman herbal yang ada di Kabupaten Kediri telah kami rangkum dalam website ini. Anda bisa menemukan berbagi macam tanaman herbal hanya disini</h5>
				  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
				</div>
			  </div>
			</div>
		  </div>
		  <div class="card border-light mb-3" >
			<div class="row g-0">
			  <div class="col-md-4">
				<img src="toga1.jpg" class="img-fluid rounded-start" alt="...">
			  </div>
			  <div class="col-md-8">
				<div class="card-body" style="margin: 15px">
				  <h2 class="card-title">Tanaman Obat . .</h5>
				  <h5 class="card-text">Tanaman obat adalah segala jenis tumbuhan yang diketahui mempunyai khasiat baik dalam membantu memelihara kesehatan maupun pengobatan suatu penyakit. Tumbuhan obat sangat erat kaitannya dengan pengobatan tradisional, karena sebagian besar pendayagunaan tumbuhan obat belum didasarkan pada pengujian klinis laboratorium, melainkan lebih berdasarkan pada pengalaman penggunaan</h5>
				  <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
				</div>
			  </div>
			</div>
		  </div> 
	</div>
 
	<!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
	integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
	crossorigin="anonymous"></script>
</body>
</html>
